@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Judson:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Utility Classes                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  display: grid;
  place-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --white: #fff;
  --black: #000;
  --black-hover: #666666;
  --pinkish-red: #e23152;
  --pink-hover: #e85d78;
  --dark-gray: #7c7c7c;
  --background-main: #f6f6f6;
  --vertical-section-spacings: 50px;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: "Inter", serif;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Component                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Ads */
.ad-carousel {
  width: 100%;
  height: 30px;
  background-color: var(--pinkish-red);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad-item {
  font-size: 16px;
  font-weight: 400;
  width: max-content;
  position: absolute;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.ad-item.active {
  opacity: 1;


  /* Header Actual */
}

.header {
  height: 120px;
  width: 100%;
  /* border: 1px solid var(--black); */
  align-content: center;
}

.header-title {
  font-weight: 700;
  font-size: 64px;
  cursor: pointer;
}

.header-main {
  display: flex;
  justify-content: space-between;
}

.header-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-tags h2 {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.header-tags h2:hover {
  text-decoration: underline;
}


/* Drop Down Menus */

.dropdown-items {
  display: none;
  position: absolute;
  background-color: var(--white);
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  ul {
    list-style: none;
    transition: ease-in-out 0.5;
  }

  li {
    padding: 6px 14px;
    cursor: pointer;

    &:hover {
      background-color: #f6f6f6;
    }


  }

}

.dropdown:hover .dropdown-items {
  display: block;
}


/* Search, Cart and Login */
.header-buttons {
  width: 100px;
  align-content: center;

  button {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--background-main);
    border: none;
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
}

.search-btn {
  display: flex;
  justify-content: space-between;
}

.cart-login-box {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;

}

.search-btn {
  background-image: url("../media/icon-search.png");
}

.search-white-bg {
  background-image: url("../media/icon-search-white.png");
}

.open-modal {
  background-image: url("../media/icon-sign-in.png");
  margin-right: 10px;
}

.cart-btn {
  background-image: url("../media/icon-bag.png");
}


/* Search Bar Modal */

.search-bar-modal {
  height: 160px;
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  display: flex;
  align-items: center;
  align-content: center;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.search-components {
  gap: 10px;
  display: flex;
}

.search-input {
  border: none;
  border-bottom: 3px solid var(--black);
  font-size: 18px;
  background-color: var(--white);


  &:focus {
    outline: none;
  }
}


.close-search {
  background-image: url("../media/close-white.png");
  background-color: var(--white);
}


/* Modal */

.modal {
  z-index: 9999;
  padding: 25px 30px;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: var(--white);
  z-index: 100;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  input[type=text],
  input[type=password] {
    width: 100%;
    padding-left: 10px;
    height: 38px;
    border: 1px solid var(--black);
    font-size: 18px;
    background-color: var(--white);
    margin-top: 5px;
  }

  input[type=text]:focus,
  input[type=password]:focus {
    outline: none;
  }

  input[type='password']+.pointer-text {
    margin-top: 5px;
  }

  div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .modal-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 20px;

    h2 {
      font-weight: 600;
      font-size: 21px;
    }
  }

  .modal-signin-btn {
    width: 100%;
    height: 40px;
    background-color: var(--pinkish-red);
    color: var(--white);
    margin-top: 15px;
    transition: all ease 0.8s;
  }

  .pointer-text {
    text-align: right;
  }

  .close-modal {
    position: relative;
    width: 17px;
    background-image: url("../media/close.png");
    background-color: transparent;
  }

  .pointer-text {
    cursor: pointer;
  }

  .error-message {
    height: 24px;
    text-align: center;
    color: rgb(223, 4, 4);
    font-size: 15px;
    margin-top: 5px;
  }

  .sign-up-message {
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    cursor: default;

    span {
      font-weight: 600;
      cursor: pointer;
      color: var(--pinkish-red);
    }
  }
}

.transparent-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  z-index: 10;
  background-color: rgba(31, 31, 31, 0.392);
  cursor: pointer;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Hero Banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hero-banner {
  margin-top: 30px;
  background-image: url("../media/hero.png");
  width: 100%;
  height: 584px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Judson", serif;


  h2 {
    font-size: 66px;
    font-weight: 700;
    color: var(--white);
  }

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  button {
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    padding: 13px 19px;
    background-color: var(--white);
    color: var(--black);
    width: 160px;
    height: 60px;
    align-content: center;
    border: none;

    transition: all ease 0.8s;

    &:hover {
      box-shadow: inset 500px 0 0 0 var(--pinkish-red);
      color: var(--white);
    }
  }
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Product Page                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.products {
  margin-top: var(--vertical-section-spacings);
  margin-bottom: var(--vertical-section-spacings);
  display: flex;
  gap: 40px;
}


.product-image-box {
  height: 500px;
  width: 550px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-content: center;

  img {
    padding: 50px;
    display: block;
  }
}

.product-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  h2 {
    line-height: 1;
  }
}

.out-of-stock-pic {
  filter: grayscale(100%);
}
.product-title-n-rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .product-title {
    width: 100%;
  }
}

.product-rating {
  display: flex;
  gap: 5px;
  font-size: 12px;
  line-height: 12px;
  align-items: center;

  img {
    height: 24px;
    width: 24px;
  }

  h2 {
    font-weight: 400;
  }
}



.cost {
  margin: 10px 0;
  align-items: baseline;
  font-size: 35px;
  font-weight: 700;
}

.not-on-sale {
  font-size: 24px;
  font-weight: 600;
}

.sale {
  gap: 20px;
  display: flex;
  line-height: 20px;
  height: 20px;
  align-items: baseline;
}

.sale-small-text {
  font-size: 20px;
}

.sale-price {
  font-size: 24px;
  font-weight: 600;
}

.strike-through {
  text-decoration: line-through;
}

.red-text {
  color: #ff0000;
}

.sale-price {
  font-weight: 800;
}

.size-chart {
  display: flex;
  gap: 20px;
  /* height: 50px; */

  align-items: center;

  p {
    color: #666666;
    cursor: pointer;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
  }
}



.size-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.sizes {
  display: flex;
  gap: 10px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover {
      border: 2px solid rgb(0, 0, 0);
      background-color: var(--black);
      color: var(--white);
    }
  }
}

.size-button-active {
  background-color: var(--black);
  color: var(--white);
}

.size-button-inactive {
  background-color: var(--white);
  color: var(--black);
}



.product-colors-title {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-colors {
  display: flex;
  gap: 20px;

  button {

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


}

.color-btn-bg {
  height: 44px;
  width: 44px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  button {
    width: 35px;
    height: 35px;
    border: 1px solid var(--black);
  }
}

.color-btn-bg.color-clicked {
  border-color: black;
}

.color-btn-black-image {
  background-color: var(--black);
}

.color-btn-white-image {
  background-color: var(--white);
}

.color-btn-pink-image {
  background-color: rgb(233, 8, 8);
}

.color-btn-green-image {
  background-color: rgb(48, 224, 48);
}

.color-btn-blue-image {
  background-color: rgb(64, 64, 209);
}

.color-btn-inactive {
  height: 35px;
  width: 35px;
}



.product-black {
  background-color: var(--black);
}

.product-white {
  background-color: var(--white);
}

.product-pink {
  background-color: var(--pinkish-red);
}

.product-green {
  background-color: rgb(48, 224, 48);
}

.product-blue {
  background-color: rgb(64, 64, 209);
}

.white-image {
  filter: grayscale(75%);
}

.black-image {
  filter: grayscale(100%);
}

.pink-image {
  filter: grayscale(70%) hue-rotate(300deg);
}

.green-image {
  filter: grayscale(10%) hue-rotate(150deg);
}

.blue-image {
  filter: hue-rotate(240deg)
}

.neutral {
  filter: grayscale(100%);
}

.quantity-select {
  width: 130px;
  height: 34px;
  padding-left: 4px;
}

.add-to-cart {
  background-color: var(--pinkish-red);
  color: var(--white);
  width: 100%;
  height: 47px;
  margin-top: 15px;
  border: none;
  cursor: pointer;

  transition: all ease 0.8s;
}

.inactive-btn {
  background-color: #666666;
  color: var(--white);
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}



.product-description {
  margin-top: 15px;
}

.you-may-also-like {
  flex-direction: column;
  margin-bottom: var(--vertical-section-spacings);

  h3 {
    font-size: 32px;
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.footer-divider {
  border-top: solid 1px var(--dark-gray);
  height: 1px;
  width: 100%;
}

.footer-container {
  padding: var(--vertical-section-spacings) 0;
}

.footer-box {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
  }

  ul {
    list-style: none;
    line-height: 2;
    margin-top: 8px;
  }

  li {
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
    font-size: 15px;
  }
}

.footer-input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--black);
  margin-top: 7px;

  input[type=text] {
    flex-grow: 1;
    border: none;
    font-size: 15px;
    background-color: var(--background-main);
  }

  input[type=text]:focus {
    outline: none;
  }

  button {
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
}

.footer-language-select,
.footer-copywrite {
  display: flex;
  justify-content: center;
  margin-top: 35px;

  select {
    border: none;
    background: none;
    cursor: pointer;
  }

  h2 {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Not Found                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../media/404-img-leaves.jpg');
  background-size: cover;
  background-position: center;
  color: var(--white);

  .not-found-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h1 {
      font-size: 200px;
      line-height: 1;
    }

    p {
      font-size: 20px;
      margin-top: -10px;
    }

    button {
      background-color: var(--pinkish-red);
      color: var(--white);
      font-size: 20px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
    }
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Product Gallery                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#product-gallery-section {
  flex-direction: column;
  margin-top: var(--vertical-section-spacings);
  margin-bottom: var(--vertical-section-spacings);
}

.product-toolbar,
.grid-container {
  font-family: "Inter", sans-serif;
}

.product-toolbar {
  align-items: center;

  h3 {
    font-size: 32px;
  }
}

.custom-select {
  position: relative;
  display: inline-block;

  select {
    background-color: var(--white);

    border: 0px;
    outline: 0px;


    height: 40px;
    padding: 0 35px 0 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    appearance: none;
  }
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 15px;
  background-image: url('../media/icon-dropdown.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  pointer-events: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
}

.grid-item {
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  mix-blend-mode: multiply;

  figure {
    background-color: var(--white);
    padding: 25px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.8s;
    mix-blend-mode: multiply;

    img {
      mix-blend-mode: multiply;
    }

  }
}

.grid-product-info {
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;

  p {
    line-height: 1.2;
  }

  p:first-of-type {
    font-weight: 500;
    /* Enables the use of -webkit-line-clamp and -webkit-box-orient */
    display: -webkit-box;
    /* Limits the element to a maximum of 2 lines */
    -webkit-line-clamp: 2;
    /* Defines the block progression, vertical means it stacks blocks vertically */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 39px;
  }

  p:nth-of-type(2) {
    font-weight: 400;
    color: var(--dark-gray);
  }

  p:last-of-type {
    font-weight: 500;
    font-size: 24px;
  }
}

.view-more-btn-wrapper {
  width: 100%;
}

.view-more-btn {
  font-weight: 600;
  font-size: 22px;
  padding: 13px 19px;
  background-color: var(--black);
  color: var(--white);
  width: 160px;
  height: 60px;
  align-content: center;
  border: none;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Gallery Animations                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.gallery-image {
  transition: all ease 0.3s;
  width: 200px;
  height: 250px;
  object-fit: contain;
}

.gallery-image:hover {
  transform: scale(1.02, 1.02);
}







/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Cart Page                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.cart-container {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.cart-sections {
  display: flex;
  gap: 25px;
}


.cart-shopping-bag {
  font-size: 42px;
  font-weight: 700;
  align-self: center;
  text-align: center;
  margin-top: var(--vertical-section-spacings);
}

.cart-subtitle {
  align-self: flex-start;
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}

.cart-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--dark-gray);
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-picture-box {
  min-width: 25%;
  width: 30%;
  margin-right: 10px;
}

.cart-info-box {
  width: 25%;
}

.cart-box {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.cart-item-img {
  width: 190px;
  height: 200px;
  object-fit: contain;
  padding: 23px 19px 23px 19px; 
  background-color: var(--white);
}

.cart-box-title {
  font-size: 16px;
  font-weight: 600;
}

.cart-title {
  font-size: 16px;
  font-weight: 600;
}

.cart-product-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 77px;
}

.cart-total-price {
  font-weight: 400;
  font-size: 16px;
}

.cart-text {
  font-size: 16px;
  font-weight: 400;
}

.quantity h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.quantity-select {
  padding: 3px 18px;
  width: auto;
  background-color: inherit;
  border: 1px solid var(--black);
}

.edit {
  color: var(--pinkish-red)
}

.underline-edit {
  font-weight: 600;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

.cart-trash-box {
  margin: 0 20px;
}

.trash-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url('../media/icon-trash-can.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 3px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Checkout                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.checkout-section {
  background-color: var(--white);
  width: 360px;
  height: 658px;
  padding: 24px 23px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.discounts {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  p:first-of-type {
    color: var(--dark-gray);
  }
  p {
    color: var(--black);
  }
}

.signin-btn {
  height: 45px;
  border: 1px solid var(--black);
  background-color: var(--white);
  font-size: 16px;
  font-weight: 600;
}

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-item {
  display: flex;
  justify-content: space-between;
}

.order-service {
  text-decoration: none;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 16px;
}

.order-value {
  text-decoration: none;
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
}

.divide-line {
  background-color: var(--black);
  height: 2px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.light-border {
  background-color: var(--dark-gray);
  height: 1px;
}

.bold-text-total {
  color: var(--black);
  font-size: 21px;
  font-weight: 700;
}

.sale-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

.checkOut-btn {
  background-color: var(--pinkish-red);
  padding: 13px 138px;
  border: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  display: flex;
}

.div-cards-img {
  display: flex;
  gap: 13px;
}

.card-img {
  height: 34px;
  width: 55px;
}

.checkout-bottom-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.checkout-bottom-text,
.returnPolicy {
  text-decoration: none;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 13px;
}

.checkout-bottom-first-text {
  margin-top: 18px;
}

.underline {
  text-decoration: underline;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Shimmer Effect                                       */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
  background-size: 800px 104px;
  position: relative;
  min-width: 600px;
  min-height: 1250px;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}