/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Utility Classes                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  display: grid;
  place-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* :root {
  
}

body {
  font-family: 
}
 */
 
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Component                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Not Found                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-img {
  max-width: 100%;
  height: auto;
}

.page-not-found {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.not-found-title {
  font-size: 28px;
  font-weight: 600;
}

.not-found-btn {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: #7a53d4;
  color: #ffffff;
  cursor: pointer;
}

.not-found-btn:hover {
  background-color: #d47a53;
}