/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Utility Classes                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  display: grid;
  place-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --white: #fff;
  --black: #000;
  --pinkish-red: #e23152;
  --bg-gray: #f6f6f6;
  --dark-gray: #7c7c7c;
  --background-main: #f6f6f6;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

button {
  cursor: pointer;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Component                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Ads */
.ad-carousel {
  width: 100%;
  height: 40px;
  background-color: var(--pinkish-red);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad-item {
  font-size: 22px;
  font-weight: 400;
  width: max-content;
  position: absolute;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.ad-item.active {
  opacity: 1;


/* Header Actual */}
.header {
  height: 120px;
  width: 100%;
  /* border: 1px solid var(--black); */
  align-content: center;
}

.header-title {
  font-weight: 700;
  font-size: 64px;

}

.header-main {
  display: flex;
  justify-content: space-between;
}

.header-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-tags h2{
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
}

.header-tags h2:hover {
  text-decoration: underline;
}


/* Drop Down Menus */

.dropdown-items {
  display: none;
  position: absolute;
  background-color: var(--white);
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  ul {
    list-style: none;
    transition: ease-in-out 0.5;
  }

  li {
    padding: 6px 14px;
    cursor: pointer;

    &:hover {
      background-color: #f6f6f6;
    }


  }

}

.dropdown:hover .dropdown-items {
  display: block;
}


/* Search, Cart and Login */
.header-buttons {
  width: 100px;
  gap: 20px;
  align-content: center;
  button {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--background-main);
    border: none;
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
}


.search-btn{
  background-image: url("../media/icon-search.png");
}

.open-modal{
  background-image: url("../media/icon-sign-in.png");
  margin-right: 10px;
}

.cart-btn{
  background-image: url("../media/icon-cart.png");
}




/* Modal */

.modal {
  z-index: 9999;
  padding: 20px 50px;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
  width: 500px;
  height: 400px;
  background-color: #d9d9d9;
  z-index: 100;
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  input[type=text] {
    width: 100%;
    padding-left: 10px;
    height: 34px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    font-size: 18px;
    background-color: var(--background-main);
  }

  div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .modal-signin-btn {
    width: 100%;
    height: 45px;
    background-color: var(--black);
    color: var(--white);
    margin-top: 20px;
    
  }

  .close-modal {
    position: relative;
    top: 10%;
    left: 90%;
    background-color: #d9d9d9;
    background-image: url("../media/close.png");
  }
  .pointer-text {
    cursor: pointer;
  }

}


.transparent-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgb(217, 217, 217, 0.3);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Hero Banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hero-banner {
  background-image: url("../media/hero.png");
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Product Page                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.products {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}


.product-image-box {
  height: 650px;
  width: 650px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-content: center;
;

  img {
    padding: 50px;

  }
}

.product-information {

}


.product-rating {
  display: flex;
  gap: 5px;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  img {
    height:30px;
    width: 30px;
  }
}



.cost {
  margin: 10px 0;
  align-items: baseline;
}

.not-on-sale {
  font-size: 24px;
  font-weight: 600;
}

.sale {
  gap: 20px;
  display: flex;
  line-height: 20px;
  height: 20px;
  align-items: baseline;
}

.sale-small-text {
  font-size: 20px;
}

.sale-price {
  font-size: 24px;
  font-weight: 600;
}

.strike-through {
  text-decoration: line-through;
}

.red-text {
  color: #ff0000;
}

.sale-price {
  font-weight: 800;
}

.size-chart {
  display: flex;
  gap: 20px;
  height: 50px;
  margin-top: 15px;
}

.size-chart-btn {
  background-image: url("../media/measuring-tape.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--background-main);
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  line-height: 50px;
  margin-top: 10px;
}

.sizes {
  display: flex;
  gap: 10px;
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    &:hover {
      border: 2px solid rgb(0, 0, 0);
      background-color: var(--black);
      color: var(--white);
    }
  }
}

.product-colors-title {
  margin-top: 15px;
}

.product-colors {
  display: flex;
  gap: 20px;

  

  div {
    height:50px;
    width: 50px;
    background-color: var(--white);
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    
    
    &:hover {
      border: 3px solid black;
    }
  }

  button {
    height: 35px;
    width: 35px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

}

.product-black {
  background-color: var(--black);
}

.product-white {
  background-color: var(--white);
}

.product-pink {
  background-color: var(--pinkish-red);
}


.white-image {
  filter: hue-rotate(0deg);
}

.black-image {
  filter: hue-rotate(0deg) grayscale(100%);
}

.pink-image {
  filter: hue-rotate(300deg); 
}

.quantity-select {
  width: 130px;
  height: 34px;
  padding-left: 4px;
}

.add-to-cart {
  background-color: var(--pinkish-red);
  color: var(--white);
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

.product-description {
  margin-top: 15px;
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.footer-divider {
  border-top: solid 1px rgb(208, 215, 222, 0.5);
  height: 1px;
  width: 100%;
}

.footer {
  height: 450px;
}

.footer-box {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 23px;
    font-weight: 500;
    /* letter-spacing: 2px; */
  }

  ul {
    list-style: none;
    line-height: 2;
    margin-top: 8px;
  }

  li {
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
  }

  input[type=text] {
    margin-top: 25px;
    border: none;
    border-bottom: 3px solid var(--black);
    font-size: 18px;
    background: #f6f8fa url(../media/email.png) no-repeat 20px 9px;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--background-main);

    &:focus{
      outline: none;
    }
  }
}


.footer-language-select, .footer-copywrite {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  select {
    border: none;
    background: none;
  }

  h2 {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }

  p {
    font-weight: 400;
    font-size: 17px;
  }
}

.footer-payment-options {
  margin-top: 20px;
  display: flex;
  img {height: 30px};
  gap: 8px;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Not Found                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  }

.not-found-img {
  max-width: 60%;
  width: 400px;
  height: auto;
}

.page-not-found {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.not-found-title {
  font-size: 28px;
  font-weight: 600;
}

.not-found-btn {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: #7a53d4;
  color: var(--white);
  cursor: pointer;
}

.not-found-btn:hover {
  background-color: #d47a53;
}